Django
mysqlclient
waitress
whitenoise
django-simple-history
python-dotenv
pytz
python-dateutil
pandas
numpy
openpyxl
xhtml2pdf
reportlab

lxml
html5lib
arabic-reshaper
python-bidi
cryptography
pycryptodome